* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.blue-palette {
    background-image: linear-gradient(to bottom, #0d1282, #0a6ebd);
}

.rose-palette {
    background-image: linear-gradient(to bottom, #ff2171, #f266ab);
}

.white-palette {
    background-image: linear-gradient(to bottom, #f1f1f1, #e7e7e7);
}

.black-palette {
    background-image: linear-gradient(to bottom, #333, #444);
}